h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  margin-top: 0;
  margin-bottom: 0.25em;
  line-height: 1.2;
}

.page {
  font-size: 20px;
  font-family: "PT Serif", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}
header {
  font-family: "Montserrat", Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}
.page__section-top {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  padding: 10em 0 10em 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.page__section-green {
  padding: 10em 0 10em 0;
  color: #fff;
  background-color: #34AB01;
}
.page__section-map {
  z-index: 5;
  display: block;
  background-color: #fff;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  display: block;
}
.page__container {
  width: 85%;
  margin: 0 auto;
  max-width: 1233px;
}
.page__p-sbubble {
  float: right;
  margin-top: 5em;
  position: relative;
}
.page__p-sbubble::before {
  content: "";
  position: absolute;
  top: 100%;
  right: 2em;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 3em 3em 0;
  border-color: transparent #34AB01 transparent transparent;
}
.page__map {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.page__map iframe {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
.page__p-map {
  position: absolute;
  width: 85%;
  max-width: 1233px;
  margin: 0 auto;
  top: 5em;
  left: 7.5%;
  z-index: 9;
}

.p-sbubble {
  padding: 2.5em 1.5em;
  position: relative;
  text-align: center;
  background: #34AB01;
  max-width: 550px;
  overflow: hidden;
}
.p-sbubble__title {
  font-size: 6rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.2;
}
.p-sbubble__description {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-family: "Montserrat", Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

.p-row {
  margin: 0 0 0 -4em;
  display: -ms-flex;
  display: flex;
}
.p-row__s50 {
  width: 50%;
  padding: 0 0 0 4em;
  display: inline-block;
  margin: 0 -0.25em 0 0;
}

.p-contact__title {
  padding-left: 4em;
  font-size: 2.375rem;
  margin-bottom: 0.5em;
  position: relative;
  line-height: 1;
  font-weight: 500;
}
.p-contact__title::before {
  content: attr(data-prefix);
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  font-size: 5.5rem;
  line-height: 0.8;
  letter-spacing: 0;
  font-weight: 500;
}
.p-contact__title::after {
  content: "/";
  font-weight: 500;
  position: absolute;
  font-size: 4.4rem;
  left: 1.6em;
  top: 0.05em;
  line-height: 0.95;
  display: block;
}
.p-contact__description {
  margin-bottom: 2em;
}
.p-contact__info {
  margin-bottom: 2em;
  font-family: "Montserrat", Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}
.p-contact__soc {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.p-contact__socitem {
  margin-bottom: 0;
}
.p-contact__soclink {
  padding-left: 3em;
  display: inline-block;
  position: relative;
  margin-bottom: 1.5em;
}
.p-contact__soclink svg {
  display: block;
  width: 45px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.p-contact__soclink span {
  font-family: "Montserrat", Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}
.p-contact__frow {
  margin-bottom: 1.5em;
}
.p-contact__flabel {
  font-weight: 200;
}
.p-contact__flabel span {
  display: inline-block;
  margin-left: 0.25em;
  font-size: 0.85rem;
  color: #fff;
  opacity: 0.65;
}
.p-contact__finput {
  width: 100%;
  padding: 0.75em;
  border: 0;
  border-radius: 0;
  color: #666;
  background-color: #FFF;
  border-color: #CCC;
  outline: none;
  font-size: 20px;
}
.p-contact__ftextarea {
  width: 100%;
  padding: 0.75em;
  border: 0;
  border-radius: 0;
  color: #666;
  background-color: #FFF;
  border-color: #CCC;
  outline: none;
  font-size: 20px;
  height: 200px;
  resize: vertical;
}
.p-contact__fpolinfo a {
  color: white;
  text-decoration: underline;
  transition: opacity 0.2s ease;
}
.p-contact__fpol {
  margin-bottom: 1em;
  margin-top: 0.5rem;
}
.p-contact__fpol::before {
  content: "";
  display: table;
}
.p-contact__fpol::after {
  content: "";
  display: table;
  clear: both;
}
.p-contact__fcheckbox {
  border: none;
  height: 16px;
  width: 16px;
  vertical-align: baseline;
  background: none;
  box-sizing: border-box;
  padding: 0;
}
.p-contact__fpollabel {
  display: block;
  font-weight: 700;
  float: right;
  width: 95%;
}
.p-contact__fsubmit {
  color: #fff;
  background: #252525;
  font-family: "Montserrat", Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  display: inline-block;
  padding: 0.5em 1em;
  border: 0;
  transition: all 0.15s ease-out;
  font-size: 20px;
}

.p-map {
  width: 50%;
}
.p-map__top {
  padding: 2em;
  color: #fff;
  background-color: #252525;
  transition: background-color 0.15s ease-out;
}
.p-map__top .p-contact__title {
  font-size: 1.75rem;
  padding-left: 4.25em;
  margin-bottom: 0;
}
.p-map__top .p-contact__title::before {
  font-size: 4.3rem;
}
.p-map__top .p-contact__title::after {
  left: 1.7em;
  top: 0.05em;
  font-size: 3.3rem;
}
.p-map__content {
  padding: 2em;
  color: #fff;
  background-color: #34AB01;
  transition: background-color 0.15s ease-out;
}
.p-map__content b {
  margin-bottom: 0.3333333333em;
  font-family: "Montserrat", Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  margin-top: 0;
  margin-bottom: 0.25em;
  line-height: 1.2;
  display: block;
}
.p-map__content p {
  margin-bottom: 1.5em;
  display: block;
}
.p-map__content a {
  font-family: "Montserrat", Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
  font-size: 0.8rem;
  color: #fff;
  transition: all 0.15s ease-out;
}
.p-map__content a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #fff;
  transition: all 0.15s ease-out;
}



@media (max-width: 1500px) {
  .page {
    font-size: 18px;
  }

  .p-map__top .p-contact__title {
    font-size: 31px;
    padding-left: 146px;
    display: -ms-flex;
    display: flex;
    align-items: center;
    min-height: 68px;
  }

  .p-row__s50:nth-child(2) .p-contact__title {
    font-size: 30px;
    padding-left: 182px;
    display: -ms-flex;
    display: flex;
    align-items: center;
    min-height: 88px;
  }

  .p-sbubble__title {
    font-size: 85px;
    line-height: 102px;
    margin-bottom: 0;
  }
}
@media (max-width: 991px) {
  .page__map {
    position: static;
  }

  .page__mapframe {
    display: block;
    padding-top: 56.25%;
    position: relative;
  }
  .page__mapframe iframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .page__p-map {
    max-width: none;
    width: 100%;
    position: static;
  }

  .p-map {
    width: 100%;
  }

  .p-row__s50 {
    width: 100%;
    margin-bottom: 35px;
  }

  .p-row {
    display: block;
  }

  .p-sbubble__title {
    font-size: 76px;
    line-height: 91px;
  }

  .p-sbubble__description {
    font-size: 18px;
  }

  .p-sbubble {
    max-width: 450px;
  }

  .p-contact__title::before {
    font-size: 89px;
  }

  .p-contact__title::after {
    font-size: 75px !important;
  }

  .p-row__s50:nth-child(2) .p-contact__title,
.p-contact__title {
    padding-left: 160px !important;
    font-size: 35px !important;
    min-height: auto !important;
  }

  .page__section-map {
    padding-top: 0;
  }

  .page__container::before {
    content: "";
    display: table;
  }
  .page__container::after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (max-width: 527px) {
  .page__p-sbubble {
    float: none;
  }

  .p-contact__fsubmit {
    font-size: 16px;
  }

  .p-row__s50:nth-child(2) .p-contact__title, .p-contact__title {
    zoom: 0.7;
    display: -ms-flex;
    display: flex;
    align-items: center;
  }
}
